*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .header
{
    height: 750px;
    background-image: linear-gradient(rgba(184, 226, 243, 0),rgba(172, 210, 212, 0.8)),url("images/simon-english-48nerZQCHgo-unsplash.jpg");
    background-size: cover;
} */

.navbar{
    background-color: #e9e9e9;
    padding-right: 50px;
}
.nav-item:nth-child(1){
    margin-left: 400px;
}
.nav-item{
    padding:0px 10px;
    font-weight: bold;
}
.nav-item:hover{
    background-color: #2a8fad;
}

.card img{
    height: 375px;
    width: 415px;
}
.dropdown-item:hover{
    background-color:rgba(172, 210, 212, 0.8);
}



/* Footer section */
footer{
    height: 90px;
    background-color: #201f1f;
}
footer span{
    float: left;
    line-height: 90px;
    margin-left: 130px;
}
.social-icon{
    /* border:2px solid rgb(214, 27, 27); */
    height: 100%;
    width: 50%;
    float: right;
}
.social-icon ul{
    list-style-type: none;
    text-align: center;
}
.social-icon ul li{
    display: inline-block;
    margin-left: -5px;
}
.social-icon ul li a{
    border:2px solid black;
    padding:15px;
    margin-right: 15px;
    border-radius: 50%;
    line-height: 90px;
    color: skyblue;
}
.social-icon ul li a:hover{
   background-color: #e91710;
   transition: 0.5s;
}
.img_page{
    height: 600px;
    width: 1000px;
    border: 5px solid whitesmoke;
    margin: 10px 5px;
}
.img_section{
    text-align: center;
    background-color:darkslategray;
}

.places{
    margin-top: 150px;
}
.sub_img{
    height: 500px;
    width: 100%;
    background-image: url(images/n1.jpg);
    background-size: cover;
}
.des_initial{
    /* border: 1px solid red; */
    background-image: url(images/mamun-srizon-qay3lNDSHzc-unsplash.jpg);
    background-position: 50px auto;
    background-size: cover;
    height: 500px;
}
.des{
    background-color:paleturquoise;
}
